<%- include('../../partials/header') %>

<% if (currentUser) { %>
    <section id="myMenus">
        <div class="container">
            <h1>My Menus:</h1>
            <a class="subnav" href="#browseMenus">Browse Community Menus</a>
            <div class="menuContainer">
                <% menus.forEach(function(menu){ %>
                <% if (menu.user.username !== currentUser.username) { %>
                    <div class="menuCard">
                        <a href="menus/<%= menu._id %>">
                            <button class="menuButton hvr-grow">
                                <i class="fa fa-utensils fa-fw"></i><%= menu.name %>
                            </button>
                        </a>
                        <h6>Menu By: <span class="user"><%= menu.user.username %></span></h6>
                        <% if ((currentUser) && (currentUser.username === menu.user.username)) { %>
                        <form class="smallForm" action="/menus/<%= menu._id %>?_method=DELETE" method="POST">
                            <button type="button" class="edit"><a href="/menus/<%=menu._id%>/edit"><i class="fa fa-edit"></i>
                                </a></button>
                            <button class="delete"><i class="fa fa-trash"></i></button>
                        </form>
                        <% } %>
                    </div>
                <% } %>
                <% }); %>
            </div>
            <a href="/menus/new"><button class="new hvr-grow">Add Menu<i class="fa fa-plus fa-fw"></i></button></a>
        </div>
    </section>
<hr>
<% } %>


<section id="browseMenus">
    <div class="container">
        <h1>Browse Community Menus:</h1>
        <a class="subnav" href="#myMenus">My Menus</a>
        <div class="menuContainer">
                <% menus.forEach(function(menu){ %>
                   <% if (menu.user.username !== currentUser.username) { %>
                        <div class="menuCard">
                            <a href="menus/<%= menu._id %>">
                                <button class="menuButton hvr-grow">
                                    <i class="fa fa-utensils fa-fw"></i><%= menu.name %>
                                </button>
                            </a>
                            <h6>Menu By: <span class="user"><%= menu.user.username %></span></h6>
                        </div>
                    <% } %>
                <% }); %>
        </div>
    </div>
</section>

<%- include('../../partials/footer') %>