<%- include('../../partials/header') %>

<% if (currentUser) { %>
    <section id="myMenus">
        <div class="ui vertical stripe segment">
            <div class="ui middle aligned container">
                <h1 class="ui header">My Menus</h1>
                <a class="ui big positive top attached button" href="/menus/new"><i class="fa fa-plus fa-fw"></i>New Menu</a>
                <% if (menus) { %>
                    <div class="ui link cards">
                        <% menus.forEach(function(menu){ %>
                            <% if (menu.user.username == currentUser.username) { %>
                                <div class="card">
                                    <a class="ui big primary button" href="menus/<%= menu._id %>"><i class="fa fa-utensils"></i></a>
                                    <div class="content">
                                        <div class="header">
                                            <h2 class="ui header"><%= menu.name %></h2>
                                        </div>
                                        <div class="meta">
                                            <span class="user"><%= menu.user.username %></span>
                                        </div>
                                        <form class="ui form" action="/menus/<%= menu._id %>?_method=DELETE" method="POST">
                                            <div class="ui buttons">
                                                <button type="submit" class="delete ui small red button" href="/menus"><i class="fa fa-trash"></i></button>
                                                <a type="button" class="ui small green button" href="/menus/<%= menu._id %>/edit"><i class="fa fa-plus"></i></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        </div> 
    </section>
<% } %>


<section id="browseMenus">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned container">
            <h1 class="ui header">Browse Community Menus</h1>
            <% if (menus) { %>
                <div class="ui link cards">
                    <% menus.forEach(function(menu){ %>
                        <% if (menu.user.username !== currentUser.username) { %>
                            <div class="card">
                                <a class="ui big primary button" href="menus/<%= menu._id %>"><i class="fa fa-utensils"></i></a>
                                <div class="content">
                                    <div class="header">
                                        <h2 class="ui header"><%= menu.name %></h2>
                                    </div>
                                    <div class="meta">
                                        <span class="user"><%= menu.user.username %></span>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% }); %>
                </div>
            <% } %>
        </div>
    </div>
</section>

<%- include('../../partials/footer') %>