<%- include('../../partials/header') %>

<% if (currentUser) { %>
    <section id="myRecipes">
            <div class="ui vertical stripe segment">
                <div class="ui middle aligned container">
                    <h1 class="ui header">My Recipes</h1>
                    <a class="ui big positive top attached button" href="/recipes/new"><i class="fa fa-plus fa-fw"></i>New Recipe</a>
                    <% if (recipes) { %>
                        <div class="ui link cards">
                            <% recipes.forEach(function(recipe){ %>
                                <% if (recipe.user.username === currentUser.username) { %>
                                    <div class="card">
                                        <div class="image">
                                            <img src="<%= recipe.image %>" alt="recipe image">
                                        </div>
                                        <div class="content">
                                            <div class="header">
                                                <a class="ui mini primary circular icon button" href="/recipes/<%= recipe._id %>">
                                                <i class="fa fa-info"></i></a>
                                                <%= recipe.dish_title %>
                                            </div>
                                            <div class="meta">
                                                <span class="user"><%= recipe.user.username %></span>
                                            </div>
                                            <div class="description">
                                                <p><i class="fa fa-hourglass-start fa-fw"></i><%= recipe.prep_time %></p>
                                                <p><i class="fa fa-hourglass-half fa-fw"></i> <%= recipe.cook_time %></p>
                                            </div>
                                            <div class="extra content">
                                                <% if (currentUser) { %>
                                                    <form id="menuForm" action="" method="POST">
                                                        <select class="ui dropdown" id="menuSelect">
                                                            <option>Select from your menus</option>
                                                            <% if (currentUser.menus) { %>
                                                                <% currentUser.menus.forEach(function(menu){ %>
                                                                    <option value="/recipes/<%= recipe._id %>/menus/<%=menu._id%>">
                                                                        <span><%= menu.name %></span>
                                                                    </option>
                                                                <% }); %>
                                                            <% } %>
                                                        </select>
                                                    </form>
                                                    <button form="menuForm" class="submit ui small red button" id="sendRecipeBtn">Send<i class="fa fa-angle-double-right fa-fw"></i></button>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
            </div>
    </section>
<% } %>

<section id="browseRecipes">
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned container">
            <h1 class="ui header">Browse Community Recipes</h1>
            <% if (recipes) { %>
                <div class="ui link cards">
                    <% recipes.forEach(function(recipe){ %>
                            <div class="card">
                                <div class="image">
                                    <img src="<%= recipe.image %>" alt="recipe image">
                                </div>
                                <div class="content">
                                    <div class="header">
                                        <a class="ui mini primary circular icon button" href="/recipes/<%= recipe._id %>">
                                        <i class="fa fa-info"></i></a>
                                        <%= recipe.dish_title %>
                                    </div>
                                    <div class="meta">
                                        <span class="user"><%= recipe.user.username %></span>
                                    </div>
                                    <div class="description">
                                        <p><i class="fa fa-hourglass-start fa-fw"></i> <%= recipe.prep_time %></p>
                                        <p><i class="fa fa-hourglass-half fa-fw"></i><%= recipe.cook_time %></p>
                                    </div>
                                </div>
                            </div>
                    <% }); %>
            <% } %>
        </div>
    </div>
</section>

<script>
    function sendRecipeToMenu() {
        // Select Form, all options under the select, and the button
        const menuForm = document.querySelector('#menuForm');
        const menuSelect = document.querySelector('#menuSelect');
        const sendRecipeBtn = document.querySelector('#sendRecipeBtn');
        // Figure out which option is currently selected
        document.addEventListener('input', function(event){
            // run for the menuSelect only
            if (event.target.id !== 'menuSelect') return;
            // using the currently selected options value, set the forms action attribute accordingly
            menuForm.setAttribute('action', event.target.value + '?_method=PUT');
        }, false);
    }

    sendRecipeToMenu();
</script>

<%- include('../../partials/footer') %>
