<%- include('../../partials/header') %>

<div class="container">
    <div class="recipeContainerShow">
        <div class="recipeCard">
            <h3><i class="fa fa-book fa-fw"></i><%= recipe.dish_title %></h3>
            <h6>Recipe By: <span class="user"><%= recipe.user.username %></span></h6>
            <img src="<%= recipe.image %>" alt="recipe image">
            <% if (recipe.description) { %>
            <p><span class="leader"><i class="fa fa-user fa-fw"></i>Description:</span> <%= recipe.description %></p>
            <% } %>
            <p><span class="leader"><i class="fa fa-hourglass-start fa-fw"></i>Prep-Time:</span> <%= recipe.prep_time %></p>
            <p><span class="leader"><i class="fa fa-hourglass-half fa-fw"></i>Cook-Time:</span> <%= recipe.cook_time %></p>
            <% if (recipe.ingredients) { %>
            <div>
                <span class="leader"><i class="fa fa-shopping-basket fa-fw"></i>Ingredients:</span>
                <ul>
                    <% recipe.ingredients.forEach(function(ingredient){ %>
                        <li><%= ingredient %></li>
                    <% }); %>
                </ul>
            </div>
            <% } %>
            <% if (recipe.steps) { %>
                <span class="leader"><i class="fa fa-bars fa-fw"></i>Steps:</span>
                <ul>
                    <% var counter = 1 %>
                    <% recipe.steps.forEach(function(step){ %>
                    <li><span class="leader"><%= counter + ' ' %>:</span> <%= step %></li>
                    <% counter ++ %>
                    <% }); %>
                </ul>
            <% } %>
            <% if (currentUser.username === recipe.user.username) { %>
                <div class="container">
                    <form class="smallForm" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                        <button class="delete"><a href="/recipes/<%= recipe._id %>"><i class="fa fa-trash"></i></a></button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</div>


<%- include('../../partials/footer') %>